<h1><%= @game.title %></h1>
<%= form_for @game, url: score_game_path(@game), method: 'post' do |f| %>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Player</th>
        <th>Score</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
    <% @game.rank_players.each do |player| %>
      <tr>
        <td>#<%= @game.rank(player) %></td>
        <td><%= player.name %></td>
        <td><%= player.score %></td>
        <td><input type="number" class="form-control" id="points_player_<%= player.id %>" 
          name="players[<%= player.id %>]" value="0" ></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <button type="submit" class="btn btn-default">Turn</button>
<% end %>
